<!DOCTYPE html>

<html 	xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8" />

<title>Dave's List</title>
</head>
<body>

<h1>Dave's List</h1>
<h2>Add Room:</h2>
      
      <form action="#" th:action="@{/add}" method="post">
          
          <p>Address: <input type="text" th:field="${room.address}" /></p>
          <p>City: <input type="text" th:field="${room.city}" /></p>

          <p><input type="submit" value="Submit" /> </p>
          
      </form>


<h2>Rooms Available For Rent</h2>

<!-- <p th:object = @{list} th:text = *{rooms}">()Rooms)</p> -->

      <p th:each="list: ${rooms}"
      	 th:text="${list.Id}
      	  ${list.address}
      	  ${list.city} 
      	  ${list.state} 
      	  ${list.price}"/>

</body>
</html>